.container
{
    background-color: floralwhite;
    margin: 0;
}

/*Hidding the class sections*/
.defaultView
{
    display: none;
    background-color: floralwhite;
}



.movieDetail
{
    display: none;
}

/*Style for home view*/
.homeView
{
    height: 100vh;
    width: 100%;
    margin: 0px;
    background-image: url(denise-jans-Lq6rcifGjOU-unsplash.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    
    text-align: center;
    background-attachment: fixed;
    justify-content: center;
    align-content: center;
    position: relative;
    
    display:grid;
   
       
}



.searchBox
{
    background-color:floralwhite;
    border-radius: 20px;
    padding: 3rem 5rem;
    text-align: center;
    
    
}

.searchBox h1{
    color: coral;
    font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
}

.searchBox input[type=text]
{
   
    width: 100%;
    padding: 16px;
    margin: 8px;
    box-sizing: border-box;
    border: 1px solid #555;
    border-radius: 10px;
    cursor: text;
     outline: none;
}


.searchBox input[type=text]:focus {
  background-color: gainsboro;
}

.searchBox .homebtn
{
    background-color: coral; /* Green */
    border: none;
    border-radius: 10px;
    color: white;
    padding: 12px 22px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.homebtn:hover{
    background-color:#e7e7e7;
    color: black
}

/*Style for default view*/

.defaultView
{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-auto-rows: auto;
    grid-gap: 10px;
    
}

.defaultView .header
{
    grid-column: 1 / 3;
    text-align: center;
    border: solid;
    border-color:burlywood;
    border-radius: 7px;
    border-style: outset;
    
}

.defaultView .filter
{
    grid-column: 1 / 2;
    
}

.defaultView .movieList
{
    grid-column: 2 / 3;
}

.filter h3 , .movieList h3
{
    text-align: center;
}

/*Style for the filter*/
.filter{
    border: solid;
    border-color:burlywood;
    border-radius: 7px;
    border-style: outset;
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
    margin-left: 5px;
    
    
}
.filter strong
{
    padding: 12px 20px;
    margin: 15px 20px;
}

.filter input[type=text] {
  width: 70%;
  padding: 12px 20px;
  margin: 15px 40px;
  box-sizing: border-box;
}



.yearFilter input[type=radio]{
    margin: 15px 50px;
    padding: 12px 20px;
}

.yearFilter input[type=text]
{
    width: 50%;
    padding: 0px;
    margin-left: 20px;
}



.ratingFilter input[type=text]{
    width: 50%;
    padding: 0px;
    margin-left: 20px;
    
}

.ratingFilter input[type=radio]{
    margin: 15px 50px;
    padding: 12px 20px;
}

.btn1
{
    width: 10%;
    
}

.filter button {
  background-color:coral;
  border: none;
  color: white;
    width: 30%;
    padding: 10px;
    border-radius: 10px;
  margin: 15px 30px;
  text-align: center;
  font-size: 16px;
    cursor: pointer;
}

.filter button:hover{
    background-color:wheat;
    color: black;
}



/* header style */
.header h2:hover{
    color: coral;
}

.header h3:hover{
    color: coral;
}

.filter h3 , .movieList h3
{
    text-align: center;
}

/*movie list style */
.moviesDiv
{
    height: 95vh;
    overflow: scroll;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    margin-right: 5px;
}
.movieDetail
{
    margin: 10px;
    margin-right: 0px;
    
}

.movieList
{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    border: solid;
    border-color:burlywood;
    border-radius: 7px;
    border-style: outset;
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
    margin-right: 5px;
}


.movieDetail
{
    display: grid;
    grid-template-columns: 1fr 3fr 2fr 2fr 1fr;
    grid-auto-rows: auto;
    
}

.movieTitle
{
   float: right;
}

.movieTitle:hover{
    color: white;
}
.movieImg
{
    height: 100px;
}



.movieYear, .movieRating, .movieTitle
{
    margin-top: 40px;
}
.movieButton
{
    height: 40px;
    width: 80%;
    margin-top: 30px;
    background-color:cornflowerblue;
    border-radius: 20%;
    color: white;
}

/*Style for movieDetail*/

 .header
{
    text-align: center;
    margin: 5px;
    border: solid;
    border-color:burlywood;
    border-radius: 7px;
    border-style: outset;
    font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
}

/* hiding the class selections */
.defaultView, .movieDetails{
    display:none
}

.movieDetails{
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-auto-rows: auto;
    grid-gap: 10px
    
}

.movieDetail{
    background-color: lightcoral;
    border: solid;
    border-color:burlywood;
    border-radius: 7px;
    border-style: outset;
}

.movieDetail button{
    background-color: coral; 
    border: none;
    border-radius: 10px;
    color: white;
    padding: 12px 22px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.movieDetail button:hover{
    background-color:wheat;
    color: black
}

.movieDetails .header{
    grid-column: 1/4;
    text-align: center;
    background-color: floralwhite;
    grid-gap: 10px;
}

.movieInfo
{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-auto-rows: auto;
    border: solid;
    border-color:burlywood;
    border-radius: 7px;
    border-style: outset;
    margin-left: 3px;
    
}

.movieInfo button
{
    
    height: 40px;
    width: 60%;
    margin-top: 30px;
    background-color:coral;
    border-radius: 20%;
    color: white;
    
}

.movieInfo table
{
    grid-column: 1 / 3;
}

.movieInfo div
{
    grid-column: 1 / 3;
}

.movieInfo
{
    height: 95vh;
    overflow: scroll;
}


/*style for the movie poster*/
.moviePic
{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    border: solid;
    border-color:burlywood;
    border-radius: 7px;
    border-style: outset;
}


/*style for the close button*/
.closeMovie {
    height: 40px;
    width: 30%;
    text-align: center;
    margin-top: 30px;
    margin-left: 150px;
    background-color:coral;
    border-radius: 20%;
    color: white;
}

/*style for the cast info*/
.castInfo
{
    display: grid;
    grid-template-columns: 1fr;
    margin-right: 5px;
    height: 95vh;
    overflow: scroll;
   border: solid;
    border-color:burlywood;
    border-radius: 7px;
    border-style: outset;
    
}

.castbox tr:nth-child(even) {background-color:lightcoral;}

.crewbox tr:nth-child(even) {background-color:lightcoral;}
/*cast button and crew button*/
.castbtn , .crewbtn
{
    height: 40px;
    width: 20%;
    margin-top: 30px;
    background-color:coral;
    border-radius: 20%;
    color: white;
    cursor: pointer;
    margin-left: 5px;
}

.castbtn:hover{
    background-color:wheat;
    color: black;
    cursor: pointer;
}

.crewbtn:hover{
    background-color:wheat;
    color: black;
    cursor: pointer;
}

.closeMovie:hover{
    background-color:wheat;
    color: black;
    cursor: pointer;
}

.speakbtn:hover{
    background-color:wheat;
    color: black;
    cursor: pointer;
}






/*css for the cast character and name*/
.castChar
{
    float: left;
}

.castName
{
    float: right;
}

.castTable {
    font-family: "Lucida Console", Monaco, monospace;
}

.crewTable {
    font-family: "Lucida Console", Monaco, monospace;
}




/*font styles for movie details*/
.movieDetailTitle{
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-style: oblique;
    font-variant: small-caps;
}

.movieInfo h3 {
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
}

.movieInfo section {
   font-family: Copperplate, "Copperplate Gothic Light", fantasy;
}

.overview{
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    background-color: antiquewhite;
}


.movieTable{
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
   
}
.movieTable tr:nth-child(even) {background-color:antiquewhite;}

.titleRow{
    width: 75%;
    padding-left: 30%;
    font-weight: 500;
    
}

.titleRow td{
    font-family: Papyrus, fantasy; font-size: 20px; font-style: normal;
}

.comp{
    background-color: antiquewhite;
}

.key{
    background-color: antiquewhite;
}

.cont{
    background-color: antiquewhite;
}
.gen{
    background-color: antiquewhite;
}








/*Hidding the class sections*/
.defaultView , .movieDetails
{
    display: none;
    
    
}




